.artist-card {
    flex-direction: row;
    display: flex;
}

.artist-name {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
}

.artist-details {
    margin-left: 1em;
}