<div class="content">

  <div class="search-box">
    <mat-card class="example-card">
      <mat-card-content>
        <form class="example-form">
          <mat-form-field class="example-full-width" style="width:100%">
            <input matInput placeholder="Search for artist or track" name="search" [(ngModel)]="searchText"
              (ngModelChange)="onSearchTextChange($event)">
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="results">
    <!-- <app-artist-list [artists]="artists" style="width: 50%;"></app-artist-list> -->
    <app-song-list [tracks]="tracks" (trackSelected)="ontrackSelected($event)"></app-song-list>
    <app-feature-chart  style="padding-left: 5px;"  [track]="selectedTrack"></app-feature-chart>
  </div>
 
</div>