/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.app-background {
    background-image: url("/assets/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.no-image {
    background-image: url("/assets/no-photo.png");
}

$margin: 5px;

.item {
    margin-top: $margin;
    margin-bottom: $margin;
}

.pointable {
    cursor: pointer;
}