<mat-card class="item track" style="min-width: 400px;">
    <mat-card-header>
        <h3>
            Tracks
        </h3>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="tracks && tracks.length > 0" style="width: 100%;">
            <mat-card matRipple *ngFor="let track of tracks" class="item pointable track-item" (click)="onCardClicked(track)">
                <!-- <mat-card-title>
                {{artist.name}}
            </mat-card-title>
             -->
                <div style="display: flex;">
                    <div style="padding-left: 10px; padding-right: 5px; display: flex; justify-content: center; align-items: center;">
                        <img mat-card-avatar *ngIf="track | trackHasImage" [src]="track | trackImage">
                        <img mat-card-avatar *ngIf="!(track | trackHasImage)" class="no-image" />
                    </div>
                    <div style="padding-top: 5px">
                        <mat-card-title>
                            {{track.name}}
                        </mat-card-title>
                        <mat-card-subtitle style="margin-bottom: 5px;">
                            {{track | joinTrackArtists}}
                        </mat-card-subtitle>
                    </div>
                </div>




            </mat-card>

        </div>
    </mat-card-content>
</mat-card>